.App {
  text-align: center;
  font-family: "museo-sans", "source-sans-pro", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  width: 45%;
  -webkit-font-smoothing: antialiased;
  border: 3px solid rgba(33,33,33,0.35);
  box-shadow: -1px 1px 5px 9px rgba(33,33,33,0.35);
  border-radius: 9px;
  margin: auto;
  background-color: rgba(249,202,167,1.0);
  padding: 19px;
}

.assignmentInstructions {
  width: 45%;
  margin: 0 auto;
}

.App a {
  color: rgba(22,22,22,0.80);
}

.App a:hover {
  color: rgba(22,22,22,0.95);
  border: 2px dotted rgba(22,22,22,1.0);
}
